<%= stylesheet_link_tag "main_panel", media: "all", "data-turbo-track": "reload" %>

<div class="header-row">
  <h2 class="title">Registrar Nuevo Cliente</h2>
  <%= link_to "Volver", clients_path, class: "btn" %>
</div>

<div class="page-scroll">
  <%= render "form", client: (@client || ::Client.new) %>
</div>